requests
beautifulsoup4
transformers
torch
chromadb
pydantic
biopython
fitz
frontend
pymupdf
Retriever
farm-haystack[inference]
openai==0.28 
langchain
langchain-community 
langchain-core
# pip install -U langchain-community
# python -m venv venv
# .\myenv\Scripts\Activate.ps1
# pip install -r requirements.txt